[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ host_user }}
WorkingDirectory=/home/ubuntu/reddit/post-py/
EnvironmentFile=/home/ubuntu/reddit/post-py/post_config
ExecStart=/usr/bin/python3 post_app.py
Restart=always

[Install]
WantedBy=multi-user.target
