COMMENT_DATABASE_HOST={{COMMENT_DATABASE_HOST}}
COMMENT_DATABASE_PORT={{ COMMENT_DATABASE_PORT | default('27017') }}
COMMENT_DATABASE={{ COMMENT_DATABASE | default('test') }}
DATABASE_URL={{COMMENT_DATABASE_HOST}}
